 
/* header div{
  display: block;
} */
.boxes div{
  display: inline-block;
  clear: both;
} 

 p{
text-align: center;
padding: 40px 0 40px 0; 
} 

 /* @media only screen and (min-width: 768px){
     div{
    display: flex;
    flex-wrap: wrap;
    
  }
  header{
    border: 1px black solid;
    background-color: aqua;
  }
  .b{
      border: 1px black solid;
      background-color: rgb(20, 54, 54)
  }
  .c{
border: 1px black solid;
background-color: rgb(114, 23, 175)
  }  
  .d{
    border: 1px black solid;
    background-color: rgb(136, 255, 0);
  }
  .e{
    border: 1px black solid;
    background-color: rgb(255, 174, 0);
  }
  .f{
    border: 1px black solid;
    background-color: rgb(107, 119, 119);
  }
  .g{
    border: 1px black solid;
    background-color: rgb(255, 0, 255);
  }
  .h{
    border: 1px black solid;
    background-color: rgb(255, 72, 0);
  }
  
 } */

/* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

  body{
    width: 960px;
    margin: 0 auto;
  }
  header{
    width: 960px;
    height: 100px;
    background-color: wheat;
  } 
 
   div{
    width: 380px;
    height: 200px;
    margin: 0;
    display: inline-block;
    background-color: aqua;
  }
   .b{
    width: 200px;
    height: 600px;
    float:left;
    border-right:0;
    background-color: aquamarine;
  }
  .boxes div{
    width: 190px;
    height: 250px;
    display: inline-block;
    background-color: blanchedalmond;
   
  }
  div:nth-child(6){
background-color: brown;
}
.boxes div:nth-child(1){
  background-color: orange;
}
.boxes div:nth-child(2){
  
  background-color: plum;
}
div:nth-child(3){
background-color: rgb(30, 211, 30);
}
.boxes div:nth-child(3){
  
  background-color: rgb(224, 214, 233);
}
.boxes div:nth-child(4){
  
  background-color: rgb(42, 21, 61);
}
 

  footer{
    width: 760px;
    height: 150px;
    float: left;
    background-color: blueviolet;
  }
}   

/* Small devices (mobile, 500px ) */
 @media only screen and (max-width: 600px) {
  div{
    display: flex;
    flex-direction: column;
  }
  header{
    background-color: rgb(214, 131, 21);
    flex-direction: column;
  }

div .c{
  background-color: azure;
}
    div:nth-child(6){
background-color: white;
}


.boxes div:nth-child(1){
  background-color: rgb(0, 255, 179);
}
.boxes div:nth-child(2){
  
  background-color: rgb(71, 13, 71);
}
/* div:nth-child(3){
background-color: rgb(155, 161, 155);
} */
div .g{
  background-color: bisque;
}

.boxes div:nth-child(4){
  
  background-color: rgb(214, 132, 94);
}
footer{
  background-color: rgb(112, 87, 136);
}
} 
